<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Owners</title>
</head>
<body>

<h1>Owners</h1>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="owner : ${owners}">
            <td th:text="${owner.id}"></td>
            <td th:text="${owner.name}"></td>
            <td th:text="${owner.email}"></td>
            <td th:text="${owner.phoneNumber}"></td>
        </tr>
    </tbody>
</table>

</body>
</html>
